# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Environment Variables
.env

# Model Files
*.pkl

# Generated Outputs
outputs/

# Logs
*.log
